.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 800px;
    height: 500px;
    font-family: "Figtree", sans-serif;
    transition: all 400ms;
}

.box{
    position: relative;
    background-image: image(./assets/pitty.jpg);
    background-size: cover;
}